body 
{
attachment: fixed;
background-image: url("assets/background.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover; 
padding: 50px;
border: 50px;
margin: auto;
}

ul,li,p,h1,h2
{
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-weight: 450;
}
p
{
  text-indent:50px;
  font-size:12pt;
}
h2
{
  text-align:center;
}

.left
{
  color: white;
  float:left;
  width:50%;
  height:50%;
}
.center
{
  color: white;
  text-align: center;
  width: 100%;
}

#slate
{
  background-color: #768692;
  opacity: 0.925;
  border-radius: .25em;
  border 
}
.main
{
  color: white;
  float:right;
  width:50%;
  height:50%;
}

#footer
{
text-align:center;
clear:both;
}


#bachcgi
{
  height:50%;
  width: 50%;
}
#bachPic
{
  height:50%;
  width:50%;
}
#bachPic2
{
  height:75%;
}
#links
{
  height:50px;
  width:50px;
}


